
body
{
	background-image: url(https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-14_856985d9.jpeg?download=true);
	background-size: 1900px 1080px;
}
header
{
	color: rgb(248, 244, 5);
	font-family: sans-serif;
	size: 30px;
	letter-spacing: 2px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;

}